.Product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details {
    width: 30%;
}


span {
    width: auto;
    height: 100px;
    font-size: 100px;
    display: block;
    margin: 40px 0px -40px 0px;
}

.Product button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    width: 40%;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;

}