.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    margin: 5px 100px 10px 100px;
}